<!-- ================================================================= -->
<!-- Create a new hamburger -->
<h2>CREATE A NEW BURGER ORDER</h2>
  <div id="left-bar-2"></div>
  <div id="food-icon">
    <i class="fa fa-cutlery" aria-hidden="true"></i>
  </div>
  <div id="right-bar-2"></div>

<!-- new burger form -->
<div id="new-burger-div">
  <form class="create-form">
    <!-- order a burger by name -->
    <div class="form-group">
      <label id="order-here-title" for="ca">Burger Order:</label> <br>
      <input type="text" id="ca" name="name" placeholder="Burger Order Here:">
    </div>
    <!-- determin weather this has or has not been eaten -->
    <div class="form-group">
      <label for="eaten">Is This An Order That Has Been Eaten Yet?</label><br>
      <input type="radio" name="eaten" value="0" checked> This Order Has NOT Been Eaten Yet. <br>
      <input type="radio" name="eaten" value="1"> This Burger HAS Been Eaten
    </div>

    <button type="submit" class="btn btn-primary">PLACE A NEW ORDER</button>
  </form>
</div>

<p id="view-down"> VIEW YOUR HAMBURGER ORDERS <br><i id="down-arrow" class="fa fa-angle-double-down" aria-hidden="true"></i></p>


<!-- ================================================================= -->
<!-- Hamburgers lists that have and have not been eaten -->
<h1>HAMBURGER ORDERS</h1>

  <div id="left-bar-2"></div>
  <div id="food-icon">
    <i class="fa fa-cutlery" aria-hidden="true"></i>
  </div>
  <div id="right-bar-2"></div>

  <div class="container">
    <div class="row">
      <!-- Burgers that have not been eaten -->
      <div class="col-sm-6">
          <h3> New Burger Orders: <br> Have NOT Been Eaten</h3>
          <hr>
          <ul>
            {{#each burgers}}
              {{#unless eaten}}
                {{> burgers/burgers-block eaten=true}}
              {{/unless}}
            {{/each}}
          </ul>
      </div>      
      <!-- Burgers that have been eaten -->
      <div class="col-sm-6">
          <h3>Old Burger Orders: <br> HAVE Been Eaten</h3>
          <hr>
          <ul>
            {{#each burgers}}
              {{#if eaten}}
                {{> burgers/burgers-block eaten=false}}
              {{/if}}
            {{/each}}
          </ul>
      </div>   
    </div>
  </div>
